.text-muted {
    color: #777;
    text-align: center;
    margin: 50px;
}

.header-container {
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.header-link {
  cursor: pointer;
}
