
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* You can add global styles to this file, and also import other style files */
body {
  /* background-image: url('./assets/img/background.jpeg') no-repeat center center fixed; */

  background-color: rgb(234, 234, 234);
}
